body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: large;
}

/* Estilo de la sección del encabezado */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Cambia este color según tus preferencias */
    width: 100%;
    height: 50px;
    padding: 10px;
    z-index: 2; /* Asegura que los botones estén sobre las imágenes */
}

/* Estilo del botón de inicio de sesión */
.login-button a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #FF975E; /* Cambia este color según tus preferencias */
    color: #fff;
    border-radius: 10px;
    font-size: 15px;
}

.login-button a:hover {
    background-color: #FF7F55; /* Cambia este color según tus preferencias */
}

/* Estilo del logo */
.logo img {
    max-height: 10%;
}

/* Ubicación de la sección */
.header {
    position: fixed;
    top: 0;
    left: 0;
}

/* Ubicación del botón de inicio de sesión */
.login-button {
    margin: 1.5cm;
}

/* Ubicación del logo */
.logo {
    margin: 1cm;
    flex-shrink: 0;
}

/* Imagen */
/* ... código anterior ... */

.imagen {
    width: 100%;
    overflow: hidden;
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
}

.texto {
    text-align: justify; /* Esta propiedad justificará el texto */
    margin-left: 50px;
    margin-right: 50px;
    line-height: 2; /* Ajusta el valor según tus preferencias */
    font-family: 'Montserrat', sans-serif; /* Establece Montserrat como la fuente principal */
}

.texto h2 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: #FF965E; /* Cambia el color según tus preferencias */
    margin: 0 !important/* Añade un espacio de 10px debajo de todos los párrafos */
}

.texto h3 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: #FFA951; /* Cambia el color según tus preferencias */
    margin: 0 !important/* Añade un espacio de 10px debajo de todos los párrafos */
}

.texto p {
    font-family: 'Montserrat Extra Light', sans-serif; /* Aplica Semi Bold a los subtítulos h3 */
    font-weight: 400;
}

.texto li {
    font-family: 'Montserrat Extra Light', sans-serif; /* Aplica Semi Bold a los subtítulos h3 */
}

/* Separación entre secciones */
.separacion {
    height: 50px;
    background-color: #ffffff; /* Puedes cambiar el color de fondo si lo deseas */
}
/* Separación entre secciones */

/* Acerca de: */
.contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.texto {
    width: 50%; /* El 10px es el espacio entre la imagen y el texto */
    text-align: justify; /* Esta propiedad justificará el texto */
    margin-top: 0px;
    margin-left: 70px;
    line-height: 2; /* Ajusta el valor según tus preferencias */
    font-family: 'Montserrat', sans-serif; /* Establece Montserrat como la fuente principal */
    font-size: 20px;
}

.texto2 {
    width: 50%; /* El 10px es el espacio entre la imagen y el texto */
    text-align: justify; /* Esta propiedad justificará el texto */
    margin-top: 0px;
    margin-right: 70px;
    line-height: 2; /* Ajusta el valor según tus preferencias */
    font-family: 'Montserrat', sans-serif; /* Establece Montserrat como la fuente principal */
    font-size: 20px;
}


.texto2 h2 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: #E44C4B; /* Cambia el color según tus preferencias */
    margin: 0 !important/* Añade un espacio de 10px debajo de todos los párrafos */
}

.texto2 h3 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: #F75C5E; /* Cambia el color según tus preferencias */
    margin: 0 !important/* Añade un espacio de 10px debajo de todos los párrafos */
}

.texto2 p {
    font-family: 'Montserrat Extra Light', sans-serif; /* Aplica Semi Bold a los subtítulos h3 */
    font-weight: 400;
}

.texto2 li {
    font-family: 'Montserrat Extra Light', sans-serif; /* Aplica Semi Bold a los subtítulos h3 */
}

.texto3 {
    width: 80%; /* El 10px es el espacio entre la imagen y el texto */
    text-align: justify; /* Esta propiedad justificará el texto */
    margin-top: 0px;
    margin-right: 150px;
    margin-left: 150px;
    line-height: 2; /* Ajusta el valor según tus preferencias */
    font-family: 'Montserrat', sans-serif; /* Establece Montserrat como la fuente principal */
    font-size: 20px;
}


.texto3 h2 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: #E44C4B; /* Cambia el color según tus preferencias */
    margin: 0 !important/* Añade un espacio de 10px debajo de todos los párrafos */
}

.texto3 h3 {
    font-family: 'Montserrat Semi Bold', sans-serif;
    color: #F75C5E; /* Cambia el color según tus preferencias */
    margin: 0 !important/* Añade un espacio de 10px debajo de todos los párrafos */
}

.texto3 p {
    font-family: 'Montserrat Extra Light', sans-serif; /* Aplica Semi Bold a los subtítulos h3 */
    font-weight: 400;
}

.texto3 li {
    font-family: 'Montserrat Extra Light', sans-serif; /* Aplica Semi Bold a los subtítulos h3 */
}

.footer {
    height: 200px;
    display: flex;
    flex-direction: row;
    background-color: #FF7F55; /* Cambia el color de fondo según tu diseño */
    font-family: 'Montserrat Extra Light', sans-serif; /* Establece Montserrat como la fuente principal */
    text-align: justify; /* Esta propiedad justificará el texto */
    line-height: 2; /* Ajusta el valor según tus preferencias */
    color: #fff; /* Cambia el color del texto según tus preferencias */
    font-size: 15px;
}

/* Estilo para el contenido de la izquierda (65%) */
.left-content {
    flex: 70%; /* Toma el 65% del espacio disponible */
    padding: 20px; /* Añade espaciado alrededor del contenido */
    margin-left: 50px;
}

/* Estilo para el contenido de la derecha (35%) */
.center-content {
    flex: 20%; /* Toma el 35% del espacio disponible */
    padding: 20px; /* Añade espaciado alrededor del contenido */
}

/* Estilo para el contenido de la derecha (35%) */
.right-content {
    flex: 10%; /* Toma el 35% del espacio disponible */
    padding: 20px; /* Añade espaciado alrededor del contenido */
    margin-right: 50px;
}

/* Estilo para la lista de enlaces en la derecha */
.center-content ul {
    list-style: none; /* Elimina los marcadores de lista */
    padding: 0; /* Elimina el espaciado predeterminado de la lista */
}

/* Estilo para los enlaces */
.center-content ul li a {
    text-decoration: none; /* Elimina la subraya de los enlaces */
    color: #fdd2ba; /* Cambia el color del texto de los enlaces */
    display: block; /* Hace que los enlaces ocupen todo el ancho disponible */
    margin-bottom: 5px; /* Espaciado entre los enlaces */
    font-size: 15px;
}

.right-content img {
    width: 50px; /* Establece el ancho del icono */
    height: 50px; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 5px;
}

/* Estilo para el enlace de contacto por correo */
.right-content p a {
    text-decoration: none; /* Elimina la subraya del enlace */
    color: #fdd2ba; /* Cambia el color del texto del enlace */
    display: block; /* Hace que los enlaces ocupen todo el ancho disponible */
    margin-bottom: 0px; /* Espaciado entre los enlaces */
    font-size: 15px;
}

.texto, .texto2 {
    margin-top: 0;
}